body, h1, h2, h3, p, input, button {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif; /* Përdorimi i një familje fontesh */
    background-image: url('./log.jpg');
  }
  
  /* Stilizimi për formën e regjistrimit */
  form {
    max-width: 400px; /* Gjerësia maksimale e formës */
    margin: 0 auto; /* Vendos formën në qendër të ekranit */
    background-color: #c4933f; /* Ngjyra e sfondit */
    padding: 20px;
    border-radius: 8px; /* Forma me kënd të rrumbullakët */
    margin-top: 140px;
   
  }
  
  .container {
    text-align: center;

  }
  
  h1 {
    color: #333;
  }
  
  label {
    display: block;
    margin: 10px 0 5px; /* Vendos një hapësirë mes etiketës dhe input-it */
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Kalkulon madhësinë e kutive duke përfshirë kufirin */
  }
  
  button {
    background-color: #4caf50; /* Ngjyra e butonit */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #58965c; /* Ngjyra e butonit kur futet mausi mbi të */
  }
  
  .container.signin {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #ccc; /* Linja e sipërme e kutive së nënshkrimit */
  }
  
  .container p {
    margin: 8px 0;
  }
  
  /* Linku nënshkrimi */
  .container.signin a {
    color: #058809;
  }